html
    head 
        title MyApp
    body(class=['myApp'])
        h1(id='MyId')= title
        p
            h3 sub header
        ul
            <!- each is a keyword in pug that allows us to loop through values sent by our render (app.js) -!>
            each val in list
                li= val